.nav-link-hover:hover.bi-heart-fill {
  cursor: pointer;
  color:red
}



li{
  margin-left: 25px;
  font-size: 18px;

}
#login{
  margin-right: 25px;
  font-size: 18px;
}


a.btn.btn-danger.display-7 {
  color: white;
}
i.fa.fa-heart,i.fa.fa-user,i.fa.fa-cart{
  font-size: 24px;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);

}
body {
  margin-top: 100px;
}

.btn-primary {
  border: 0;
  background: #1E90FF;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b69ff",endColorstr="#00c4ff",GradientType=1);
  padding: 4px 10px;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
  transition: all .15s ease;
}
